<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sentiment Analyser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="padding-top: 3.5rem;">
{% include 'navbar.html' %}
<main role="main" >
    <div class="jumbotron" >
        <div class="container">
            <h1 class="display-6">Hello, Welcome to Sentiment Analyser and Network graph generator!</h1>
            <p>This project is made by Mayank Babariya and Vansh Shah.</p>
            <a class="btn btn-primary btn-lg" href="http://linkedin.com/in/mayank-babariya" role="button">Linkedin Profile &raquo;</a>
        </div>
    </div>
</main>
</body>
</html>