<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sentiment Analyser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="sidebar-light">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <h4>Register to continue...</h4>
                        <form class="cmxform" enctype="multipart/form-data" method="post" action="/register_user">
                            <fieldset>
                                <div class="form-group">
                                    <label for="userFirstname">Firstname</label>
                                    <input id="userFirstname" class="form-control" name="userFirstname" type="text" placeholder="Firstname" required>
                                </div>
                                <div class="form-group">
                                    <label for="userLastname">Lastname</label>
                                    <input id="userLastname" class="form-control" name="userLastname" type="text" placeholder="Lastname" required>
                                </div>
                                <div class="form-group">
                                    <label for="loginUsername">Email</label>
                                    <input id="loginUsername" class="form-control" name="loginUsername" type="email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="loginPassword" minlength="6" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label><br>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                               name="userGender"
                                                               value="M" checked="">
                                                        Male
                                                        <i class="input-helper"></i></label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                               name="userGender"
                                                               value="F">
                                                        Female
                                                        <i class="input-helper"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="userContact">Contact Number</label>
                                    <input id="userContact" class="form-control" name="userContact" type="text" placeholder="Contact Number" maxlength="10" minlength="10" required>
                                </div>
                                <div class="form-group">
                                    <label for="userAddress">Address</label>
                                    <textarea id="userAddress" class="form-control" name="userAddress" placeholder="Address" required></textarea>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
